*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  /* overflow: hidden; */
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  overscroll-behavior-y: none;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 3.4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: flex;
  display: flex;
  gap: 4rem;
}

.title{
  white-space: nowrap;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -25%);
  border-bottom: 1cm;
}

.subtitle{
  white-space: nowrap;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 1.3rem;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -25%);
}

.callout {
  color: #FF00FF;
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  left: 20%;
  top: 130%;
  transform: translate(-50%, -25%);
}

.callout-shadow-1 {
  color: rgba(255, 0, 255, 0.5);
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  left: 20.2%;
  top: 130.2%;
  transform: translate(-50%, -25%);
}

.callout-shadow-2 {
  color: rgba(255, 0, 255, 0.2);
  z-index: 2;
  position: absolute;
  font-size: 4rem;
  left: 20.5%;
  top: 130.5%;
  transform: translate(-50%, -25%);
}

.color-explanation {
  margin-bottom: 10px;
  text-align: right;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 1.3rem;
  left: 20%;
  right: 10%;
  top: 142%;
}

.attribution {
  margin-top: 10px;
  text-align: right;
  color: rgba(255, 255, 255, 0.816);
  z-index: 2;
  position: absolute;
  font-size: 0.85rem;
  left: 50%;
  right: 10%;
  top: 156%;
}

.scrollable-content{
  height: 265vh;
}

.divider {
  top: 109%;
  color: white;
  font-size: 2.5rem;
  z-index: 2;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  /* right: 50%; */
}

.divider-2 {
    top: 185%;
    color: white;
    font-size: 2.5rem;
    z-index: 2;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    /* right:50%; */
}

.hidden {
  opacity: 0;
  transition: all 3s;
}

.show {
  opacity: 1;
}

.scroll-text {
  color: white;
  position: absolute;
  z-index: 2;
  top: 92.5%;
  left: 89%;
  right: 1%;
  font-size: 0.7rem;
}

.down-arrow {
  color: white;
  position: absolute;
  top: 90%;
  left: 95%;
  z-index: 2;
  width: 0;
  height: 33px;
  border: 2px solid;
  border-radius: 1px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.dialogue-1 {
  white-space: nowrap;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 20%;
  top: 200%;
  transform: translate(-50%);
  border-bottom: 1cm;
}

.dialogue-2 {
  white-space: nowrap;
  color: red;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  right: 3%;
  top: 210%;
  transform: translate(-50%);
  border-bottom: 1cm;
  animation: color-change 5s infinite;
}

.dialogue-hidden {
  opacity: 0;
  transition: all 5s;
}

.show {
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 0;
}

@keyframes color-change {
  0% {
    color: red;
  }

  50% {
    color: blue;
  }

  100% {
    color: magenta;
  }
}